  <p><%= @bulk_discount.quantity_threshold  %> items purchased
    <%= @bulk_discount.percentage_discount  %>%
  </p>
  <%= link_to "Edit", "/merchants/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}/edit" %>
